html, body {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}

body {
  background-color: #fff;
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  max-width: 800px;
}

header {

  height: 7%;
  width: 100%;
  position: relative;
  border-bottom: solid #979797 1px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /*background-color: #eeeded;*/
}

.fa-search {
  height: 100%;
  background-color: #fff;
}

.DM-header {
  font-family: 'Lora';
  font-size: 21px;
  color: #272727;
  letter-spacing: 1px;
}

.main-container {
  /*position: absolute;*/
  display: flex;
  align-items: flex-start;
}

.inputs {
  width: 42%;
  padding: 40px 10px 0px 20px;
  /*display: inline-block;*/
}

.inputs > p {
  width: 300px;
  font-family: 'Lora';
  font
  font-size: 14px;
  color: #232323;
}

.inputs > p > span {
  color: #74fdf2;
}

input {
  width: 300px;
  height: 30px;
  margin: 3px 0px;
}

textarea {
  width: 300px;
  height: 200px;
  margin: 3px 0px;
  border: 1px solid #b6b6b6;
  padding: 3px 0px;
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  font-size: 17px;
  padding-right: 5px;
  font-family: 'Lora';
  color: #b6b6b6;
}

.save-changes {
  width: 300px;
  height: 30px;
  margin: 3px 0px;
  background-color: #74fdf2;
  color: #b6b6b6;
  font-size: 17px;
  font-family: 'Lora';
  border: 0px;
}

.triangles {
  width: 58%;
  padding: 40px 10px 0 30px;
  /*background-color: #74fdf2;
  height: 400px;
  margin-top: 50px;*/
  /*display: inline-block;*/
}

.triangle-up {
  width: 0;
	height: 0;
	border-left: 200px solid transparent;
	border-right: 200px solid transparent;
	border-bottom: 325px solid #74fdf2;
  z-index: -1;
  -webkit-transform: rotate(6deg);
  position: absolute;
}

.triangle-down {
  width: 0;
  height: 0;
  border-left: 200px solid transparent;
  border-right: 200px solid transparent;
  border-top: 325px solid black;
  -webkit-transform: rotate(-8deg);
  position: absolute;
  margin-top: 190px;
  overflow: hidden;
}

footer {
  font-family: 'Open Sans';
  font-weight: 400;
  color: #a9a9a9;
  height: 8%;
  width: 100%;
  position: fixed;
  border-top: solid #979797 2px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  bottom: 0;
  padding: 20px;
  max-width: 800px;
}

footer, div {

}
